@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

@mixin position($top, $right, $bottom, $left, $position: absolute) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
