$landscape: '(orientation: landscape)';

$h-mini:   '(min-height: 370px)';
$h-small:  '(min-height: 490px)';
$h-medium: '(min-height: 600px)';
$h-bigger: '(min-height: 700px)';

$w-mini:   '(min-width: 340px)';
$w-small:  '(min-width: 600px)';
$w-medium: '(min-width: 700px)';
$w-bigger: '(min-width: 1000px)';
$w-large:  '(min-width: 1400px)';
